/**
 * Global variables
 */

/** Template */
$background-index: url('../../static/canal1.jpg');
$background-histoire: orange;
$background-footer: brown;

$background-white: white;

$background-attachment: fixed;
$background-size: cover;
$background-position: bottom;

$footer-padding: 30px 140px;

/** Transitions */
$transition-normal: .3s;

/** Colors */
$shadow-color: grey;
$el-background: rgba(150, 150, 150, 0.1);
$transparent: rgba(0, 0, 0, 0.0);

/** Hover colors */
$hover: #FFE49A;

/**
 * Navigation variables
 */

/** Menu */
$menu-font: 18px;
$menu-font-color: #9EC99A;
$menu-font-shadow: 0 0 1px black;
$menu-font-transform: uppercase;
$menu-font-weight: bold;
$menu-background: orange;
$menu-shadow: 3px 2px 5px $shadow-color;
$menu-padding: 10px;
/** Compensate for the menu size */
$menu-decal: 50px;

/**
 * Grid variables
 */

/** Inners - big */
$inner-big-padding: 10px;
$inner-big-font: 36px;
