/**
 * Global variables
 */

/** Template */
$background-index: url('../../static/canal1.jpg');
$background-histoire: orange;
$background-filter: blur(50px);
$background-footer: brown;

$background-white: white;

$background-attachment: fixed;
$background-size: cover;
$background-position: bottom;
$background-height: 600px;

$footer-padding: 100px 140px;
$footer-font-size: 18px;
$footer-font-color: white;

/** Transitions */
$transition-normal: .3s;

/** Colors */
$url-color: white;
$shadow-color: rgba(50, 50, 50, 0.8);
$el-background: rgba(150, 150, 150, 0.1);
$transparent: rgba(0, 0, 0, 0.0);

/** Fonts */
$font: Verdana, Arial, sans-serif;
$text-size-normal: 25px;
$text-size-small: 18px;

/** Lists */
$list-padding: 10px 20px;

/** Hover colors */
$hover: #FFE49A;

/**
 * Navigation variables
 */

/** Menu */
$menu-font: 16px;
$menu-font-color: white;
$menu-font-transform: uppercase;
$menu-font-weight: bold;
$menu-background: rgba(10, 100, 10, 0.9);
$menu-shadow: 3px 2px 5px $shadow-color;
$menu-padding: 10px;
/** Compensate for the menu size */
$menu-decal: 50px;

/**
 * Grid variables
 */

/** Inners - big */
$inner-big-padding: 10px;
$inner-big-font: 36px;

/** Inners */
$inner-padding-1: 80px 10px;

/** Floaty McFloatyFace */
$floaty-padding: 10px;
