/**
 * Global variables
 */

/** Template */
$background-index: url('../../static/index-entete.jpg');
$background-histoire: url('../../static/histoire-entete.jpg');
$background-filter: greyscale(50%);
$background-footer: #252525;

$background-white: white;
$background-para-1: #9A2E00;
$background-para-2: #5F7CB0;

$background-attachment: fixed;
$background-size: cover;
$background-position: bottom;
$background-height: 100vh;

$footer-padding: 100px 140px;
$footer-font-size: 15px;
$footer-font-color: white;
$footer-icon-height: 50px;
$footer-icon-width: 50px;
$footer-icon-padding: 0 10px;

/** Transitions */
$transition-normal: .3s;

/** Colors */
$url-color: white;
$shadow-color: rgba(50, 50, 50, 0.8);
$el-background: rgba(150, 150, 150, 0.1);
$transparent: rgba(0, 0, 0, 0.0);
$text-white: white;
$title-color: #5EE600;

/** Fonts */
$font: Verdana, Arial, sans-serif;
$text-size-title: 82px;
$text-size-subtitle: $text-size-title - 60px;
$text-size-big: 36px;
$text-size-normal: 22px;
$text-size-small: 18px;
$text-size-tiny: 16px;

/** Title */
$title-family: "Encode Sans Compressed", sans serif;
$title-transform: uppercase;
$title-weight: bold;
$title-position: fixed;
$title-index-color: white;
$title-index-position-bottom: 18.42%;
$title-index-position-right: 0;
$title-histoire-color: black;
$title-histoire-shadow: 0 0 2px black;
$title-histoire-position-bottom: 120px;
$title-histoire-position-left: 0;

/** Lists */
$list-padding: 10px 20px;

/** Illustrations */ 
$illustration-list-padding: 0;
$illustration-image-margin: 15px 0 15px 0;

/** Hover colors */
$hover: #FFE49A;

/**
 * Navigation variables
 */

/** Menu */
$menu-font: 16px;
$menu-font-color: white;
$menu-font-transform: uppercase;
$menu-font-weight: bold;
$menu-background: rgba(10, 100, 10, 0.85);
$menu-shadow: 3px 2px 5px $shadow-color;
$menu-padding: 10px;
/** Compensate for the menu size */
$menu-decal: 50px;

/**
 * Grid variables
 */

/** Inners - big */
$inner-big-padding: 10px;
$inner-big-font: 36px;

/** Inners */
$inner-padding-1: 80px 10px;

/** Paragraphs */
$para-img-height: 200px;
$para-3-margin: 15px 0 15px 0;

/** Floaty McFloatyFace */
$floaty-padding: 10px 40px;
