body, html {
    min-width: 200px !important;
}

.cover {
    width: 100%;

    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('../images/1.png') no-repeat;
    background-size: cover;

    margin-bottom: 20px;
}

.cover-texte {
    margin-top: 60px;
}

.cover-texte .tete {
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-shadow: 1px 1px black;

    color: white;

    margin-bottom: 80px;
}

.cover-texte .gauche {
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 2px;
    text-shadow: 1px 1px black;

    color: white;
}

.cover-texte .droite {
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 2px;
    text-shadow: 1px 1px black;

    color: white;
}

.cover .menu {

    padding: 10px;
}

.cover .menu li {
    float: left;
    display: inline-block;
}

.cover .menu li.droite {
    float: right;
}

.cover .menu a {
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
    color: white;
    text-shadow: 1px 1px black;

    text-decoration: none;
    border-bottom: 4px solid rgba(0,102,204,0.0);
    -webkit-transition: .5s;
    transition: .5s;
}

.cover .menu a:hover {
    border-color: #FF7D2D;
}

.scrollUp {
    display: none;
    z-index: 3;
    position: fixed;
    top: 85%;
    left: 90%;
    
    font-size: 60px;
    font-weight: 1000;
}

.scrollUp a {
    color: #FA4936;
    text-shadow: 0 0 3px black;
}

.contenu .titre {
    font-size: 40px;
    font-weight: bold;
    color: #333333;
    text-transform: uppercase;
}

.contenu .texte {
    font-size: 20px;
}

.contenu .texte .image-right {
    float: right;
}
